################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bank.API
/Bank.API/bin
/Bank.API/obj
/.vs/ProjectEvaluation
